/plan/Requirements.org~
/plan/Requirements.pdf
/plan/Requirements.tex
/plan/Requirements.tex~
/presentation/first-progress-report.pdf
/presentation/first-progress-report.tex
/images/Diagram1.dia~
/presentation/layered-design_0066a66dd8b511a7910dcf87a219e92482a911c6.png
/presentation/wizard-design_2ba8455b2c8a44af0374fa1b6c79c8b1b8cff093.png
/build/immediate/learning/support/entity/Category.class
/build/immediate/learning/support/entity/Concept.class
/build/immediate/learning/support/entity/Subject.class
/build/immediate/learning/support/entity/Support.class
/build/immediate/learning/support/entity/SupportInstance.class
/build/immediate/learning/support/gui/SubjectView.class
/images/Diagram1.dia.autosave

/build/META-INF/persistence.xml
/build/Main.class
/build/immediate.jar
/build/immediate/learning/support/gui/CategoryView.class
/immediate.jar
/prototypes/immediate.jar
/src/META-INF/#persistence.xml#
/src/META-INF/.#persistence.xml
/build/immediate/learning/support/dao/JpaSubjectDao.class
/build/immediate/learning/support/dao/SubjectDao.class
/prototypes/libs/Ashpool.jar
/prototypes/libs/commons-lang.jar
/prototypes/libs/eclipselink.jar
/prototypes/libs/javax.persistence_1.0.0.jar
/prototypes/libs/org.springframework.aspects-3.0.5.RELEASE.jar
/prototypes/libs/org.springframework.beans-3.0.5.RELEASE.jar
/prototypes/libs/org.springframework.core-3.0.5.RELEASE.jar
/prototypes/libs/org.springframework.orm-3.0.5.RELEASE.jar
/prototypes/libs/org.springframework.test-3.0.5.RELEASE.jar
/prototypes/libs/org.springframework.transaction-3.0.5.RELEASE.jar
/prototypes/libs/toplink-essentials.jar
/build/META-INF/orm.xml
/build/applicationContext.xml
/prototypes/libs/commons-logging-adapters.jar
/prototypes/libs/commons-logging-api.jar
/prototypes/libs/commons-logging.jar
/prototypes/libs/hsqldb.jar
/prototypes/libs/org.springframework.asm-3.0.5.RELEASE.jar
/prototypes/libs/org.springframework.context-3.0.5.RELEASE.jar
/prototypes/libs/org.springframework.expression-3.0.5.RELEASE.jar
/prototypes/libs/org.springframework.jdbc-3.0.5.RELEASE.jar
/prototypes/libs/sqltool.jar

/prototypes/hsql:temp.log
/prototypes/hsql:temp.properties
/prototypes/hsql:temp.script
/prototypes/libs/org.springframework.instrument-3.0.5.RELEASE.jar
/build/immediate/learning/support/dao/Dao.class
/build/immediate/learning/support/dao/JpaDao.class
/build/immediate/learning/support/gui/View.class
/build/immediate/learning/support/entity/CategoryDescriptor.class
/build/immediate/learning/support/gui/Component.class
/prototypes/hsql:immediate.log
/prototypes/hsql:immediate.properties
/prototypes/hsql:immediate.script
/build/immediate/learning/support/gui/ExplainMore$Configuration.class
/build/immediate/learning/support/gui/ExplainMore.class
/documentation/Imidiate screen shots.ppt
/prototypes/libs/aopalliance-1.0.jar
/prototypes/libs/aspectjweaver-1.6.1.jar
/prototypes/libs/commons-collections-3.2.1.jar
/prototypes/libs/commons-dbcp-1.4.jar
/prototypes/libs/commons-pool-1.5.5.jar
/prototypes/libs/org.springframework.aop-3.0.5.RELEASE.jar
/build/Main$1.class
/build/MakeCategory.class
/build/immediate/learning/support/component/Component.class
/build/immediate/learning/support/component/ExplainMore$Configuration.class
/build/immediate/learning/support/component/ExplainMore.class
/build/immediate/learning/support/component/Player.class
/build/immediate/learning/support/component/Question$Configure.class
/build/immediate/learning/support/component/Question.class
/build/immediate/learning/support/component/Recorder.class
/build/immediate/learning/support/dao/CategoryDescriptorDao.class
/build/immediate/learning/support/dao/JpaCategoryDescriptorDao.class
/build/immediate/learning/support/entity/CategoryNames.class
/build/immediate/learning/support/entity/ComponentList.class
/build/immediate/learning/support/gui/ConceptView.class
/build/immediate/learning/support/service/Service.class
/build/immediate/learning/support/service/ServiceImpl.class
